/* @import url('https://fonts.googleapis.com/css2?family=Sora&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500&display=swap');
body {
    background-color: #fafafa;
    background-size: cover;
    font-family: 'Sora', sans-serif;
}

.dash {
    background-image: url('../media/background/accdetails_header.png');
    /* background-size: cover; */
    background-position-x: center;
    background-position-y: 40px;
    background-repeat: no-repeat;
}

.bord {
    border: 4px solid #0E0E0E;
    box-shadow: 4px 4px 0px #000000;
}

.bord1 {
    border-bottom: 3px solid #F6B93B;
}

.primary_clr {
    color: #F6B93B !important;
}

.p_back {
    background-color: #F6B93B !important;
}

.form_box {
    margin-left: 280px !important;
}

.back::after {
    position: absolute;
    content: '';
    background-image: url('../media/background/accdetails2.png');
    background-position-x: center;
    background-position-y: -20px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.inp {
    border: 2px solid #F6B93B;
    border-radius: 4px;
    width: 100%;
    height: 40px;
}

.bg1 {
    background-image: url(../media/backgrounds/bg1.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: -100px;
    background-repeat: no-repeat
}

.cp3 {
    width: 434px !important
}

footer {
    color: #fff
}

.fs12 {
    font-size: 12px
}

.fs14 {
    font-size: 14px
}

.fs16 {
    font-size: 16px
}

.fs18 {
    font-size: 18px
}

.fs21 {
    font-size: 21.33px
}

.fs22 {
    font-size: 22px
}

.fs24 {
    font-size: 24px
}

.fs28 {
    font-size: 28px
}

.fs32 {
    font-size: 32px
}

.fs37 {
    font-size: 37px
}

.fs46 {
    font-size: 46px
}

.fs48 {
    font-size: 48px
}

.fs56 {
    font-size: 56px
}

.fs64 {
    font-size: 64px
}

.fs80 {
    font-size: 80px
}

a {
    text-decoration: none;
    color: inherit
}

li {
    list-style: none
}

a:hover {
    color: inherit
}

.bg_black {
    background-color: #1d1d1d
}

.content-box2 {
    margin-top: 100px
}

.upper_footer {
    width: 35%;
    position: relative;
    margin-right: 100px
}

.cp2 {
    width: 434px
}

.btn1 {
    background: #fff;
    border: 1px solid #1d1d1d;
    border-radius: 32px
}

input[type=checkbox] {
    display: none
}

.inp2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #f0f0f0
}

input[id=cb1] {
    display: none
}

.content {
    margin-top: 150px
}

.dash .content {
    margin-top: 0
}

.dropdown .btn {
    background-color: #fff !important;
    border-radius: 13px;
    color: #1d1d1d;
    border: 1px solid #e4e4e4;
    height: 55px !important
}

.dropdown .btn:hover {
    background-color: #fff !important;
    border-radius: 13px;
    color: #1d1d1d;
    border: 1px solid #e4e4e4
}

.btn {
    background: #F6B93B;
    /* Neutral/Near Black */
    border: 3px solid #0E0E0E;
    box-shadow: 4px 4px 0px #000000;
}

.upper_footer::after {
    position: absolute;
    width: 90px;
    height: 90px;
    content: '';
    bottom: -36px;
    right: -71px;
    background-image: url(../media/background/Sphere-Blue-Glossy.svg);
    background-repeat: no-repeat
}

.upper_footer::before {
    position: absolute;
    width: 220px;
    height: 300px;
    content: '';
    bottom: -86px;
    left: 0;
    background-image: url(../media/background/Cylinder-Yellow-Glossy.svg);
    background-repeat: no-repeat
}

.cart {
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
    height: 264px
}

.login .content {
    margin-top: 150px
}

.text-white {
    color: #fff
}

.dash_nav {
    color: #fff
}

.dash-items.active {
    border-bottom: 2px solid #fff
}

.yellowBorder {
    /* border: dashed 3px;
     */
    /* border-image-repeat: round; */
    background-image: url(../media/background/Border\ +\ Text.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
    background-size: contain !important;
}

.footer_box {
    max-width: 79%;
}

@media (max-width:350px) and (min-width:50px) {
    .dash_nav {
        overflow-y: scroll;
        background-color: #fff
    }
    .navbar-brand img {
        width: 56.98px !important;
        height: 38.93px !important;
    }
    #navbarNav {
        width: 50% !important;
    }
    .line {
        background-size: contain;
        background-image: url(../media/background/Line_m.png) !important;
    }
    .yellowBorder {
        /* border: dashed 3px;
     */
        /* border-image-repeat: round; */
        background-image: url(../media/background/Border\ +\ Text1.png) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
    }
    .form_box {
        margin-left: 0 !important;
    }
    .fsm48 {
        font-size: 48px
    }
    .fsm29 {
        font-size: 29px;
    }
    .cp3 {
        width: 100% !important
    }
    .fsm15 {
        font-size: 15px
    }
    .dash {
        background-image: url(../media/backgrounds/Dashboard_mob.png);
        background-size: cover;
        background-position: center center
    }
    .dash-items.active {
        border-bottom: 5px solid #000
    }
    .dash-items a {
        color: #1d1d1d !important
    }
    .login .content {
        margin-top: 100px
    }
    .content-box2 {
        margin-top: 10px
    }
    .upper_footer {
        width: 90%
    }
    .upper_footer::after,
    .upper_footer::before {
        display: none
    }
    .fls {
        height: 130px
    }
    .fls.fls3 {
        height: 100px
    }
}

@media (max-width:600px) and (min-width:350px) {
    .dash_nav {
        overflow-y: scroll;
        background-color: #fff
    }
    .navbar-brand img {
        width: 56.98px !important;
        height: 38.93px !important;
    }
    #navbarNav {
        width: 50% !important;
    }
    .line {
        background-size: contain;
        background-image: url(../media/background/Line_m.png) !important;
    }
    .yellowBorder {
        /* border: dashed 3px;
     */
        /* border-image-repeat: round; */
        background-image: url(../media/background/Border\ +\ Text1.png) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
    }
    .form_box {
        margin-left: 0 !important;
    }
    .fsm48 {
        font-size: 48px
    }
    .fsm29 {
        font-size: 29px;
    }
    .cp3 {
        width: 100% !important
    }
    .fsm15 {
        font-size: 15px
    }
    .dash {
        background-image: url(../media/backgrounds/Dashboard_mob.png);
        background-size: cover;
        background-position: center center
    }
    .dash-items.active {
        border-bottom: 5px solid #000
    }
    .dash-items a {
        color: #1d1d1d !important
    }
    .login .content {
        margin-top: 100px
    }
    .content-box2 {
        margin-top: 10px
    }
    .upper_footer {
        width: 90%
    }
    .upper_footer::after,
    .upper_footer::before {
        display: none
    }
    .fls {
        height: 130px
    }
    .fls.fls3 {
        height: 100px
    }
}

@media (max-width:800px) and (min-width:600px) {
    .dash_nav {
        overflow-y: scroll;
        background-color: #fff
    }
    .navbar-brand img {
        width: 56.98px !important;
        height: 38.93px !important;
    }
    #navbarNav {
        width: 50% !important;
    }
    .line {
        background-size: contain;
        background-image: url(../media/background/Line_m.png) !important;
    }
    .yellowBorder {
        /* border: dashed 3px;
     */
        /* border-image-repeat: round; */
        background-image: url(../media/background/Border\ +\ Text1.png) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
    }
    .form_box {
        margin-left: 0 !important;
    }
    .fsm48 {
        font-size: 48px
    }
    .fsm29 {
        font-size: 29px;
    }
    .cp3 {
        width: 100% !important
    }
    .fsm15 {
        font-size: 15px
    }
    .dash {
        background-image: url(../media/backgrounds/Dashboard_mob.png);
        background-size: cover;
        background-position: center center
    }
    .dash-items.active {
        border-bottom: 5px solid #000
    }
    .dash-items a {
        color: #1d1d1d !important
    }
    .login .content {
        margin-top: 100px
    }
    .content-box2 {
        margin-top: 10px
    }
    .upper_footer {
        width: 90%
    }
    .upper_footer::after,
    .upper_footer::before {
        display: none
    }
    .fls {
        height: 130px
    }
    .fls.fls3 {
        height: 100px
    }
}


/* Screen 150% */

@media (max-width:1030px) and (min-width:999px) {
    .upper_footer {
        margin-right: 10px
    }
    .form_box {
        width: 66%;
        margin-left: 30px !important;
    }
    .back::after {
        background-position-x: center;
    }
}


/* Screen 140% */

@media (max-width: 1110px) and (min-width: 1030px) {
    .form_box {
        width: 66%;
        margin-left: 115px !important;
    }
    .back::after {
        background-position-x: center;
    }
}


/* Screen 130% */

@media (max-width: 1280px) and (min-width: 1110px) {
    .form_box {
        width: 66%;
        margin-left: 115px !important;
    }
    .back::after {
        background-position-x: -390px;
    }
}


/* Screen 120% */

@media (max-width: 1400px) and (min-width: 1280px) {
    .form_box {
        width: 66%;
        margin-left: 115px !important;
    }
    .back::after {
        background-position-x: -385px;
    }
}


/* Screen 110% */

@media (max-width: 1500px) and (min-width: 1400px) {
    .form_box {
        width: 74%;
        margin-left: 73px !important;
    }
    .back::after {
        background-position-x: -340px;
    }
}


/* Screen 100% */

@media (max-width: 1600px) and (min-width: 1500px) {
    .form_box {
        width: 65%;
        margin-left: 175px !important;
    }
    .back::after {
        background-position-x: -225px;
    }
}


/* Screen 90% */

@media (max-width: 1750px) and (min-width: 1600px) {
    .form_box {
        width: 56%;
        margin-left: 242px !important;
    }
}

@media (max-width: 10000px) and (min-width: 1930px) {
    .footer_box {
        max-width: 1500px;
    }
    .form_box {
        width: 718px;
        /* margin-left: 175px !important; */
    }
    .back::after {
        background-size: cover;
        background-position-y: -30px;
        /* background-position-x: -225px; */
    }
}